.color{
    position:absolute
    top:0%;
    margin-left:-30px;
}
ul {
    background-color: black;
    font-family:'Courier New', Courier, monospace
    padding:0;
    margin:0;
    list-style: none;
    display:flex
}
ul li{
    font-size: xx-large;

}
ul li:nth-child(1){
    color:aliceblue

}
ul li:nth-child(2){
    color:aliceblue

}
ul li:nth-child(3){
    color: aqua;
}
ul li:nth-child(4){
    color: aqua;
}
ul li:nth-child(5){
    color: aqua;
}
ul li:nth-child(6){
    color: aqua;
}
ul li:nth-child(7){
    color: aqua;
}
h2{
    font-family:cursive;
    color: aliceblue;
    margin-left: -30px;
    margin-top: 5px;
    background-color: blueviolet;
    text-align: center;

}
h3{
    margin-top: 5px;
    margin-left: -30px;
    background-color: aqua;
    text-align: end;
    text-decoration: underline;
}