body{
    background-color: rgb(224, 218, 218);
    height: 900px;

}

.container{
    border-top: 10px solid black;
    text-align: center; 
     
}
.contocat{
    margin-left: 15px;
    margin-right: 15px;
    
    border: 1px solid aqua;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around
      
}
.img{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid palevioletred;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img2{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid white;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

    


