
.nav{
    border: 2px solid black;
    width: 400px;
    margin-left: 150px;
    margin-top: 40px;

}
.text{
    margin-left: 60px;
    font-size: medium;
}
    

.container ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.btn{
    cursor: pointer;
    color:black ;
    background-color: rgb(224, 224, 98);
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

